<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Foto</th>
            <th scope="col">Prezzo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Pizza Papera</th>
            <td>Una pizza ispirata alla forma della papera</td>
            <td> 
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/how-to-keep-ducks-call-ducks-1615457181.jpg" 
                alt="pizza" width="450" height="300">
            </td>
            <td>50€</td>
        </tr>
        <tr>
            <th scope="row">Pizza Random</th>
            <td>Riceverai una pizza a caso</td>
            <td><img src="https://img.pizza/900/400" 
                alt="mmm pizza"width="450" height="300"></td>
            <td>5€</td>
        </tr>
    </tbody>
</table>